<a href="https://colab.research.google.com/github/Prasad0505/Python_Task/blob/main/Assignment_of_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem 1:

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [ ]:

temperatures = [34, 40, 29, 33, 42, 37, 39 ]
#Max_temp
max_temp =max(temperatures)

max_temp_index=temperatures.index(max_temp)

In [ ]:
# Store the lowest temperature 
min_temp = min(temperatures)

# Index of the element with the lowest temperature
min_temp_index=temperatures.index(min_temp)

In [ ]:
#swapping the lowest and highest temprature

temperatures[max_temp_index]=min_temp

temperatures[min_temp_index]=max_temp
print(temperatures)

[34, 40, 42, 33, 29, 37, 39]

Problem 2

Measures of Averages

Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.

Median is the middle number in a sorted, ascending or descending, list of numbers. If the list has  numbers where  is odd, then median is the element in the middle i.e, element. If  is even, then median is the mean of 
 
 
 and 
 
 elements

In [ ]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

In [ ]:
mean1=sum(prod_price_list)/len(prod_price_list)
mean1

1975.0

In [ ]:
# Step 1 - Obtain the sorted list. Print the sorted_prices
prod_price_list.sort()
print(prod_price_list)

[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]

In [ ]:
# Check if the number of elements in the list is even or odd
if len(prod_price_list)%2==0:
                              print("Even")
else:
                              print("odd")

Even

In [ ]:
num=len(prod_price_list)/2
num1=int(num)
ele1=prod_price_list[num1]
ele2=prod_price_list[num1-1]

median=(ele1+ele2)/2
median

575.0

Why do you think that is the case??

Write your explanation in this text cell
Your explanation :

Problem 3
Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [ ]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

In [ ]:
list2=[]
list2=tech_companies[3][0:3]
list2
tech_companies.pop(3)
print(tech_companies+list2)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']