<a href="https://colab.research.google.com/github/Prasad0505/Python_Task/blob/main/Assignment_Statements%2C_Indentation_and_Conditionals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

While doing this assignment only use those concepts which have been taught till now

Problem 1
As an analyst, you had to present the quarterly performance results of your client. The data which you were provided was on daily basis. To complete this task, you needed to extract the quarter from a given date. For example:
if the date lies between 1st Jan, 2020 - 31st March, 2020, you need to extract the corresponding quarter as '2020-Q1'


if the date lies between 1st April, 2020 - 30th June, 2020, the extracted quarter will be '2020-Q2'

if the date lies between 1st July, 2020 - 30th September, 2020, the extracted quarter will be '2020-Q3'

if the date lies between 1st October, 2020 - 31st Decemeber, 2020 then the extracted quarter will be '2020-Q4'

In [1]:
# Take a proper date input from the user in the format YYYY-MM-DD. Consider this date as a string
user_date = input(str("Enter the date in YYYY-MM-DD format:"))

Enter the date in YYYY-MM-DD format:2022-05-07

In [9]:
date_year=int(user_date[0:4])
str(date_year)
date_month=int(user_date[5:7])
quater=''
if date_month<=3:
                                   quater=str(date_year)+'-Q1'
elif date_month>3 and date_month<=6:
                                   quater=str(date_year)+'-Q2'
elif date_month>6 and date_month<=9:
                                   quater=str(date_year)+'-Q3'
elif date_month>9 and date_month<=12:
                                   quater=str(date_year)+'-Q4'


print(quater)

2022-Q2

Problem 2

You went out in your local neighbourhood to collect the data of people residing in the locale. You surveyed 5 people and collected some data and stored that in a dictionary. You recorded their names, their age, their sex, their heights(in cms) and their weights(in kgs)

In [10]:
# Surveyed data 

locality_data = {'Name' : ['Abhinav','Sohail','Dheeraj','Rashmi','Vaishali'],
                  'Age' : [42,29,35,28,32],
                  'Sex' : ['Male', 'Male','Male','Female','Female'] , 
                  'Height' : [172,175,170,168,170],
                  'Weight' : [70,82,60,55,64]
                 }

In [16]:
# Calculate the mean height and print it
mean_height=sum(locality_data['Height'])/len(locality_data['Height'])

print(mean_height)
# Calculate the median height and print it
lenght_height=len(locality_data['Height'])
sorted_height=sorted(locality_data['Height'])
median_height=(sorted_height[int(lenght_height/2)-1])
print(median_height)

# Calculate the mean weight and print it

mean_weight=sum(locality_data['Weight'])/len(locality_data['Weight'])
print(mean_weight)

# Calculate the median weight and print it
lenght_weight=len(locality_data['Weight'])
sorted_weight=sorted(locality_data['Weight'])
median_weight=(sorted_weight[int(lenght_weight/2)-1])
print(median_weight)

171.0
170
66.2
60

In [19]:
# Python code to print the first three elements for the key 'Age'

ages = locality_data['Age'][0:3]
ages

[42, 29, 35]

**Write a Python code to print the last two elements of the name list if the list of values corresponding to the key 'Name' contains the element 'Rashmi' else print 'Name not found'**

In [22]:
if 'Rashmi' in locality_data['Name']:  
   c= locality_data['Name'][3:5]
   print(c)
else:
    print("Name Not Found")

['Rashmi', 'Vaishali']

Problem 3

A student will not be allowed to sit in exam if his/her attendence is less than 75%.

Take following input from user

Number of classes held
Number of classes attended.

In [25]:
# Enter your input

print("Number of classes held:")
classes_held = int(input())

print("Number of classes attended:")
classes_attended = int(input())

Number of classes held:
10
Number of classes attended:
5

In [28]:
# Calculate the attendance percentage
attendance = classes_attended*100/classes_held

print(f'The attendance is {attendance} %')

The attendance is 50.0 %

And print the following statements based on the condition above

percentage of class attended

Is student is allowed to sit in exam or not.

In [30]:
if attendance<75:
  print('Student is not allowed to sit in Exam')
else:
  print('Student is allowed to sit in Exam')

Student is not allowed to sit in Exam

Problem 4

A school has following rules for grading system:
Below 25 - F

25 to 45 - E

45 to 50 - D

50 to 60 - C

60 to 80 - B

Above 80 - A

Keep the left number inclusive and the right number exclusive, something like [25,45) for grade E where the set is closed at 25 and open at 45.

Write a Python code which takes marks as inputs from the user and print the corresponding grade.

In [31]:
# Your input here 
print("Enter your marks")
marks = int(input())

Enter your marks
45

In [33]:
if marks<=25:
    print("F")
elif marks>25 and marks<=45:
    print("E")
elif marks>45 and marks<=50:
    print("D")
elif marks>50 and marks<=60:
    print("C")
elif marks>60 and marks<=80:
    print("B")
elif marks>80:
    print("A")

E